body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

p {
  font-size: 1.2em;
  margin: 0.5em 0;
}

section {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  background: #fff;
  margin-bottom: 40px;
  border-radius: 8px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.galerie {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Două coloane pe ecran de laptop */
  gap: 20px;
  margin-top: 20px;
}

.proiect {
  background: #eee;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.galerie img {
  width: 50%;
  max-width: 450px;
  height: 1000px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out; /* Adaugă tranziție pentru un efect mai plăcut */
}

.galerie img:hover {
  transform: scale(1.2); /* Scalează imaginea la 1.5 ori dimensiunea sa normală la hover */
}


.descriere {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
}

a {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}
